streamlit~=1.39.0
pysqlite3
opencv-python
pillow
grpcio
grpcio-tools
protobuf==3.20.*
langchain-ollama
langchain
langchain_community
tiktoken
langchain-ollama
scikit-learn
langgraph
tavily-python
bs4
langchain-nomic
langchain-community
nomic[local]
langchain
langchain-core
langchain-openai
langchain-community
langgraph
transformers[torch]
sentence-transformers
einops
chromadb