streamlit~=1.39.0
pysqlite3
opencv-python
pillow
grpcio
grpcio-tools
protobuf==3.20.*
langchain-ollama
langchain
langchain_community
tiktoken
scikit-learn
langgraph
tavily-python
bs4
langchain-nomic
transformers[torch]
sentence-transformers
einops
chromadb
python-dotenv
typing-extensions
pydantic
nomic
pathlib
langchain-ollama
psutil
pynvml
matplotlib
plotly